#sign-in-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(202, 20, 118, 0.45);
    z-index: 100;
}
.form-modal-container{
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.25);
}
.form-modal-container .modal-content{
    border-radius: 25px;
}
.logo-modal-heading{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-modal-heading h2{
    font-weight: 400;
    margin: 0px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
.modal-form-container{
    width: 70%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
.modal-form-container .form-group{
    margin-bottom: 15px;
}
.modal-form-container .form-group label{
    width: 100%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.modal-form-container .form-group input{
    width: 100%;
    height: 40px;
    padding-left: 8px;
}
.modal-form-action{
    margin-top: 35px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-form-action button{
    outline: none;
    border: none;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.25);
    padding: 12px 40px;
}
#register-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(202, 20, 118, 0.45);
    z-index: 100;
}
#register-modal > .form-modal-container{
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 0px;
    width: 50%;
    top: 10%;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
.form-group-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    width: 100%;
}
#register-modal .modal-form-container{
    width: 90%;
}
#register{
    cursor: pointer;
}

/*------
        error list handling
---------------------------------*/
.errors-list-container{
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px 0px;
    background: rgba(255, 255, 0, 0.1);
}
.errors-list-container ul{
    margin-left: 20px !important;
}
.errors-list-container ul li{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 1.25;
    font-size: 17px;
}
